@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Poppins';
}
.BG{
  background-size: cover;
  background-position: center;
  width: 100%;
}
nav{
    padding-top: 15px;
    background: rgb(218,217,34);
    background: linear-gradient(90deg, rgba(218,217,34,1) 31%, rgba(123,177,57,1) 73%);
  width: 100%;
}

.nav-logo{
    height: 2.5rem;
    background-image: url('../Assests//logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  padding: 0 100px;
}


label.logo:hover{
cursor: pointer;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;

}

nav ul li:hover{
    background-color: white;
    transform: skew(20deg);
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #DAD922, #7BB139);
    border-image-slice: 1;  
}

nav ul li a:hover{
    transform: skew(-20deg);
}

.last-option:hover{
    padding-left: 0.8rem;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #DAD922, #7BB139);
    border-image-slice: 0;
    border-image-slice: 1;
}


nav ul li a{
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  padding: 0 13px;
  color: white;
  text-decoration: none;
}

a:hover{
    background-image: linear-gradient(120deg, #DAD922, #7BB139);
    background-clip: text;
    color: transparent;
    font-weight: 600;
    offset: 0;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none ;
}
@media (max-width: 952px){
label.logo{
  font-size: 30px;
  padding-left: 5px;
}
nav ul li a{
  font-size: 16px;
}

}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 60%;
    height: 100vh;
    background: rgb(218,217,34);
    background: linear-gradient(90deg, rgba(218,217,34,1) 31%, rgba(123,177,57,1) 73%);
    top: 60px;
    z-index: 11;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  
#check:checked ~ ul{
  left: 0;
}
}