.navbar-main-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(218,217,34);
    background: linear-gradient(90deg, rgba(218,217,34,1) 31%, rgba(123,177,57,1) 73%);
}

.navbar-brand-img{
    height: 2rem;
    width: 6rem;
    background-image: url('../Assests/logo.png');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center;
}


.navbar-li-cont li{
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-li-cont li:hover{
    background-color: white;
}


.navbar-light .navbar-nav .nav-link:hover {
        background-image: linear-gradient(120deg, #DAD922, #7BB139);
        background-clip: text;
        color: transparent;
        font-weight: 600;
        offset: 0;
}

.li-slant:hover{
    transform: skew(35deg);
    padding: 0 0.5rem;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #DAD922, #7BB139);
    border-image-slice: 1;
    
    }

.li-slant:hover>*{
    transform: skew(-35deg);
}

.li-onesideslant:hover{
    padding-left: 1.6rem;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #DAD922, #7BB139);
    border-image-slice: 1;
}

.navbar-brand{
    font-weight: 600;
    font-size: 1.6rem;
    margin-left: 4rem;
}

.navbar-expand-lg .navbar-collapse {
    padding-right: 4rem;
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
}