.sodagall-main-cont{
    padding: 2% 18%;
}

.sodagall-top{
    background-color: #FF1D25;
    border-radius: 10px;
    height: 8rem;
    color: white;
    text-align: center;
    padding: 2.5% 0;
}

.sodagall-top>h5{
    position: absolute;
    text-align: left;
    right: 15.2rem;
    width: 40%;
    padding: 0.3% 0 0 16%;
    font-size: 1.5rem;
clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%);
background: rgb(218,217,34);
background: linear-gradient(90deg,  rgba(123,177,57,1) 31% ,rgba(218,217,34,1) 73%);

}

.sodagall-top>p{
    padding: 2.5rem 0 0 0;
}

.sodagall-mix{
    padding: 3% 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sodagall-mix-second{
    text-align: center;
    padding-left: 10%;
}

.sodagall-mix-bgimg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('../Assests/background--scroller1.png');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

.sodagall-mix-bgimg>img{
    width: 8rem;
    object-fit: contain;
    object-position: center ;
}

.cut-polygon{
    margin: 10% 0;
    height: 2rem;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%);
background: rgb(218,217,34);
background: linear-gradient(90deg,  rgba(123,177,57,1) 31% ,rgba(218,217,34,1) 73%);

}


.sodag-flat-line{
    background-color: #FF1D25;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 0.5% 0;
    margin: 2% 0;
}

.sodag-flat-line>h5{
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 0.5%;
}

.sodagall-hor>p{
    text-align: center;
}


.sodagall-hor>li{
    padding: 0.3% 2%;
}

@media screen and (max-width:414px)
{
    .sodagall-top>h5{
        text-align: left;
        top: 2.5rem;
        right: 0.6rem;
        width: 90%;
        padding: 0.3% 0 0 16%;
        font-size: 1.5rem;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%);
    }

    .sodagall-top>p{
        padding: 4.5rem 0 0 0;
    }
}